<footer>
   <nav>
      <ul>
         <li>Mirrors at <a href="{{ links[0].footer[0].anchor }}" target="_blank" rel="noopener">{{ links[0].footer[0].name }}</a> and <a href="{{ links[0].footer[1].anchor }}" target="_blank" rel="noopener">{{ links[0].footer[1].name }}</a></li><li>Code and issues at <a href="{{ links[0].footer[2].anchor }}" target="_blank" rel="noopener">{{ links[0].footer[2].name }}</a></li><li>Built with <a href="{{ links[0].footer[3].anchor }}" target="_blank" rel="noopener">{{ links[0].footer[3].name }}</a>, <a href="{{ links[0].footer[4].anchor }}" target="_blank" rel="noopener">{{ links[0].footer[4].name }}</a>, and <a href="{{ links[0].footer[5].anchor }}" target="_blank" rel="noopener≈">{{ links[0].footer[5].name | safe }}</a></li>
      </ul>
   </nav>
</footer>
