<footer>
   Mirrors at <a href="https://roy.vanegas.org/teaching/at-nyu/CSCI-UA.0004-003" target="_blank" rel="noopener">https://roy.vanegas.org</a> and <a href="https://cs.nyu.edu/courses/spring19/CSCI-UA.0004-003/" target="_blank" rel="noopener">https://cs.nyu.edu</a> | Download at <a href="https://github.com/code-warrior/CSCI-UA.0004-003" target="_blank" rel="noopener"><span class="fa fa-github"></span></a> | Built with
   <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener">Nunjucks</a>.
</footer>
