<section id="schedule">
   <h2><span class="fa fa-calendar-o"></span> Schedule</h2>
   <p>Instead of slides, in-class examples are posted to GitHub.</p>
   <table>
      <thead>
         <tr>
            <th>Week</th>
            <th>Topics</th>
            <th>Homework</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>One (27 Jan – 2 Feb)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Two (3 Feb – 9 Feb)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Three (10 Feb – 16 Feb)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Four (17 Feb – 23 Feb)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Five (24 Feb – 2 Mar)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Six (3 Mar – 9 Mar)</td>
            <td>
               <ul>
                  <li>Midterm</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Seven (10 Mar – 16 Mar)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Eight (17 Mar – 23 Mar)</td>
            <td>
               <ul>
                  <li>Spring recess</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Nine (24 Mar – 30 Mar)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Ten (31 Mar – 6 Apr)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Eleven (7 Apr – 13 Apr)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Twelve (14 Apr – 20 Apr)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Thirteen (21 Apr – 27 Apr)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Fourteen (28 Apr – 4 May)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Fifteen (5 May – 11 May)</td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Sixteen (12 May – 18 May)</td>
            <td>
               <ul>
                  <li>Last lecture on 13 May</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>Seventeen (19 May – 25 May)</td>
            <td>
               <ul>
                  <li>Final exam on 20 May</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
      </tbody>
   </table>
</section>