<section id="schedule">
   <h2><span class="fa-container"><span class="fa fa-calendar-o"></span></span> Schedule</h2>
   <p>Instead of slides, in-class examples are posted to GitHub.</p>
   <h3>Important Dates</h3>
   <ul>
      <li>3 March: No Lecture (Midterm Examination)</li>
      <li>18 and 20 March: No Class (Spring Recess)</li>
      <li>13 May: Final Lecture</li>
      <li>20 May: No Lecture (Final Exam)</li>
   </ul>
   <table>
      <thead>
         <tr>
            <th>Week</th>
            <th>Topics</th>
            <th>Homework</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><b>One</b> <br>(27 Jan – 2 Feb)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-01" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Thorough breakdown of syllabus</li>
                  <li>Software installation</li>
                  <li>GitHub introduction</li>
                  <li>Introduction to a command line interface, or <abbr title="Command Line Interface">CLI</abbr></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/getting-familiar-with-the-github-desktop-client/" target="_blank" rel="noopener">Getting Familiar with the GitHub Desktop Client</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/creating-a-new-repo-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Creating a New Repo Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/creating-commits-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Creating Commits Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/working-with-branches-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Working with Branches Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/forking-and-cloning-at-the-github-web-site/" target="_blank" rel="noopener">Forking and Cloning at the GitHub Web Site</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/the-terminal/" target="_blank" rel="noopener"><abbr title="Command Line Tutorial">CLI</abbr> tutorial</a> (reading)</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Two</b> <br>(3 Feb – 9 Feb)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-02" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Three</b> <br>(10 Feb – 16 Feb)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-03" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Four</b> <br>(17 Feb – 23 Feb)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-04" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Five</b> <br>(24 Feb – 2 Mar)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-05" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Six</b> <br>(3 Mar – 9 Mar)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-06" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Midterm</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Seven</b> <br>(10 Mar – 16 Mar)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-07" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Eight</b> <br>(17 Mar – 23 Mar)</td>
            <td>
               <ul>
                  <li>Spring recess</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Nine</b> <br>(24 Mar – 30 Mar)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-09" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Ten</b> <br>(31 Mar – 6 Apr)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-10" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Eleven</b> <br>(7 Apr – 13 Apr)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-11" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Twelve</b> <br>(14 Apr – 20 Apr)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-12" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Thirteen</b> <br>(21 Apr – 27 Apr)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-13" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Fourteen</b> <br>(28 Apr – 4 May)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-14" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Fifteen</b> <br>(5 May – 11 May)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-15" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Sixteen</b> <br>(12 May – 18 May)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/csci-ua.0004-week-16" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Last lecture on 13 May</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Seventeen</b> <br>(19 May – 25 May)</td>
            <td>
               <ul>
                  <li>Final exam on 20 May</li>
               </ul>
            </td>
            <td></td>
         </tr>
      </tbody>
   </table>
</section>
