@import 'variables';

header {
   background-color: var(--primary-color--lighter);

   div {
      margin: auto;
      text-align: center;

      @media (max-width: ($page-width--tablet + $grid--gutter-width)) {
         width: 82%;
      }

      @media (max-width: $page-width--bet-tablet-and-phone) {
         width: auto;
      }

      h1 {
         padding-top: $offset--top-heading;
         line-height: ($height--page-heading - $offset--top-heading);
         color: var(--secondary-color);
         font-size: 2rem;

         @media (max-width: ($page-width--desktop + $grid--gutter-width)) {
            letter-spacing: normal;
            font-size: 1.75rem;
         }

         @media (max-width: ($page-width--tablet + $grid--gutter-width)) {
            padding: initial;
            text-transform: capitalize;
            line-height: $height--page-heading;
            font-size: 1.375rem;
         }

         @media (max-width: $page-width--bet-tablet-and-phone) {
            line-height: normal;
            font-size: 1.225rem;
         }
      }
   }
}

.masthead {
   background-color: var(--tertiary-color);

   > p {
      padding: 12px 0;

      @media (max-width: ($page-width--tablet + $grid--gutter-width)) {
         font-size: .85rem;
      }

      @media (max-width: $page-width--masthead) {
         font-size: .75rem;
      }

      span {
         &:not(:last-of-type) {
            &::after {
               content: ' ⋯ ';

               @media (max-width: ($page-width--tablet + $grid--gutter-width)) {
                  content: ' ⋯ ';
               }

               @media (max-width: $page-width--masthead) {
                  content: none;
               }
            }
         }

         @media (max-width: $page-width--masthead) {
            display: block;
         }
      }
   }
}
