@import 'variables';

#schedule {
   table {
      margin: auto;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      thead {
         th {
            &:first-of-type {
               width: 25%;
            }

            &:nth-child(2) {
               width: 37.5%;
            }
         }
      }

      td {
         padding: 12px;
         vertical-align: top;
      }
   }
}
