@import 'variables';

h3 + ul {
   margin-top: 4px;
}

.fa {
   display: inline-block;
   border-radius: 50%;
   background-color: var(--primary-color);
   width: $background-diameter-for-font-awesome-icon;
   height: $background-diameter-for-font-awesome-icon;
   vertical-align: center;
   text-align: center;
   line-height: $background-diameter-for-font-awesome-icon;
}

ul {
   li {
      ul {
         margin-left: (2 * $grid--gutter-width);
         list-style-type: none;

         @media (max-width: ($page-width--desktop + $grid--gutter-width)) {
            margin-left: (1 * $grid--gutter-width);
         }
      }
   }
}
