//// ===============================================================================
/// Grid-based Variables
//// ===============================================================================
$grid--column-width: 60px;
$grid--gutter-width: 20px;
$grid--unit:        ($grid--column-width + $grid--gutter-width);
$grid--leading:      20px;

//// ===============================================================================
/// Typeface-related
//// ===============================================================================
$base-typeface-size: 16px;
$leading:            1.4;

//// ===============================================================================
/// Page Widths
//// ===============================================================================
$page-width--desktop:              (12 * $grid--unit);
$page-width--tablet:               (9.6 * $grid--unit);
$page-width--masthead:             (8 * $grid--unit);       // 640px
$page-width--bet-tablet-and-phone:  570px;

//// ===============================================================================
/// Nav Widths
//// ===============================================================================
$amount-of-nav-items-in-a-row: 3;
$width-nav-item--desktop:     ($page-width--desktop / $amount-of-nav-items-in-a-row);
$width-nav-item--tablet:      ($page-width--tablet / $amount-of-nav-items-in-a-row);

//// ===============================================================================
/// Spacing
//// ===============================================================================
$margin-top:    ($base-typeface-size * $leading);
$margin-bottom: ($base-typeface-size * $leading);

//// ===============================================================================
/// Misc
//// ===============================================================================
$offset--top-heading:  4px;
$height--page-heading: (4 * $grid--leading);

//// ===============================================================================
/// Font Awesome
//// ===============================================================================
$background-diameter-for-font-awesome-icon: (2 * $base-typeface-size);
