@import 'mixins';

* {
   margin: 0;
   border: 0;
   padding: 0;
}

:root {
   @include preserve-css-variable(--primary-color, #222);
   @include preserve-css-variable(--secondary-color, #350125);
}
