@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Fjord+One');

@import 'variables';
@import 'mixins';
@import 'headings';
@import 'header';
@import 'footer';

* {
   margin: 0;
   border: 0;
   padding: 0;
}

:root {
   @include preserve-css-variable(--primary-color, #222);
   @include preserve-css-variable(--secondary-color, #350125);
   @include preserve-css-variable(--bg-color--heading, pink);
}

body {
   color: var(--primary-color);
   font-family: Barlow, sans-serif;
}

abbr {
   text-decoration: none;
}

a {
   color: var(--secondary-color);

   &:link {
      text-decoration: none;
   }
}
