@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Fjord+One');

@import 'mixins';
@import 'headings';

* {
   margin: 0;
   border: 0;
   padding: 0;
}

:root {
   @include preserve-css-variable(--primary-color, #222);
   @include preserve-css-variable(--secondary-color, #350125);
}
