{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
   {{ layouts.head('Intro to Web Design and Computer Principles (CSCI-UA.0004) at NYU', 'This course covers web design, the basic principles of computer science, working with graphics, software tools, and an overview of hardware and software.') }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{% include 'app/controllers/blocks/header.njk' %}
{{ layouts.nav('home', links) }}

<main>
{% for section in sections %}
   <section id="{{ section.id }}">
      <h2>{{ section.title }}</h2>

   {% for paragraphs in section.content %}
      <p>{{ paragraphs | safe }}</p>
   {% endfor %}

   {% for item in section.list %}
      {% if loop.first %}
      <ul>
         <li>{{ item | safe }}</li>
      {% else %}
         <li>{{ item | safe }}</li>
      {% endif %}

      {% if loop.last %}
      </ul>
      {% endif %}
   {% endfor %}
</main>
{% include 'app/controllers/blocks/footer.njk' %}
</body>
</html>
